/* General Layout */ 

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	background-color: black;
	overflow: hidden;
	touch-action: manipulation;
}

video {
	transition: 1s opacity ease-in;
}

.hidden {
	display: none;
}

.fit-size {
	width: 100% !important;
	height: 100% !important;
	object-fit: contain;
	position: fixed;
}

#cover {
	transition: 0.25s opacity ease-in;
	filter: brightness(0.5);
}

#wrapper {
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Body States */

body.loading video {
	filter: brightness(0.5);
}

body.loading #play {
	display: none;
}

body.ready {
	cursor: pointer;
}

body.ready canvas, body.ready #cover {
	display: none;
}

body.playing video, body.playing #cover {
	opacity: 0;
}

body.ready:active #play img {
	transform: scale(0.95);
}

/* Cover Image */

#cover {
	pointer-events: none;
}

/* Play Button */

#play.played {
	opacity: 0;
	transform: scale(2);
	transition: 0.25s opacity, 0.25s transform;
}

#play.subtle img:first-child {
	display: none;
}

#play.subtle img:last-child {
	opacity: 0.5;
}

#play {
	position: absolute;
	top: 50%;
	left: 50%;
	pointer-events: none;
}

#play img {
	position: absolute;
	width: 25vmin;
	margin-left: -12.5vmin;
	margin-top: -12.5vmin;
}

#play img:nth-child(1) {
	filter: brightness(0);
}

#play img:nth-child(2) {
	filter: brightness(1);
}